/* text colors */
.text-primary{
    color: #e0635a;
}

.text-secondary{
    color: #97b8ae;
}

.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
}

.btn:hover{
    opacity: .9;
}

.btn-primary, .bg-primary{
    background:#e0635a;
    color: white;
}

.btn-secondary, .bg-secondary{
    background:#97b8ae;
    color: white;
}

.btn-dark, .bg-dark{
    background:#515755;
    color: white;
}

.btn-light, .bg-light{
    background:#d9dbdb;
    color: #4f4f4f;
}

.btn-outline{
    border: white 1px solid;
    background: transparent;
}

/* hover for outline button */
.btn-outline:hover{
    position: relative;
}

.btn-outline:hover:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    z-index:-1;
}

/* flex-columns */
.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}

.flex-columns .row{
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

.flex-columns .column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2{
    height: 60vh;
}

.flex-columns img{
    object-fit: cover;
    height:100%;
    width:100%;
}

.flex-columns .column-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* text-align: center; */
    padding: 30px;
}

.flex-columns h2{
    font-size: 2.5rem;
}

.flex-columns h4{
    margin-bottom: 10px;
}

.flex-columns p{
    margin:20px 0;
}

/* flex-items */
.flex-items{
    display: flex;
    text-align: center;
    justify-content: center;
    height:100%;
}

.flex-items > div{
    padding: 20px;
}

/* section header */
.section-header{
    padding:30px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.section-header h2{
    font-size:3rem;
    margin:20px 0;

}

.section-padding{
    padding:20px 20px 40px;
}

/* flex-grid */
.flex-grid .row{
    display:flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column{
    flex: 25%;
    max-width:25%;
    padding: 0 4px;
}

